// Color Variables

$og_green: rgba(35, 84, 102, 1);
$og_green_70: rgba(35, 84, 102, .7);
$og_green_15: rgba(35, 84, 102, .15);
$og_green_5: rgba(35, 84, 102, .05);
$white: rgba(255,255,255,1);
$white_20: rgba(255,255,255,.2);
$white_60: rgba(255,255,255,.6);
$white_80: rgba(255,255,255,.8);
$white_6: rgba(255,255,255,.06);
$gray_85: rgba(0,0,0,0.85);
$gray_80: rgba(0,0,0,0.8);
$gray_70: rgba(0,0,0,0.7);
$gray_40: rgba(0,0,0,0.4);
$gray_30: rgba(0,0,0,0.3);
$gray_20: rgba(0,0,0,0.2);
$gray_10: rgba(0,0,0,0.1);
$gray_10_solid: #eee;
$gray_3: rgba(0,0,0,0.03);
$gray_3_solid: #f7f7f7;
$orange: rgba(255, 105, 0, 1);
$orange_10: rgba(255, 105, 0, .1);



// Type Variables
$sans-serif: "Raleway", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$serif: "Merriweather", "Minion Pro", Georgia, "Times New Roman", sans-serif;

// Z-index Variables

$z-modal: 1000;
$z-overlay: 999;

// Mixins

@mixin slide {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

@mixin circle {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

@mixin drop-shadow {
	-webkit-box-shadow: 0 0 6px $gray_40;
	-moz-box-shadow: 0 0 6px $gray_40;
	box-shadow: 0 0 6px $gray_40;
}

@mixin inner-shadow-section-header {
	-webkit-box-shadow: inset 0 6px 12px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 6px 12px rgba(0,0,0,0.2);
	box-shadow: inset 0 6px 12px rgba(0,0,0,0.2);
}

@mixin inner-shadow-disclaimer {
	-webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 0 7px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 7px rgba(0,0,0,0.3);
}

// Type

a {
	color: $og_green;
	text-decoration: none;
	padding: 0 1px;
}

a:hover {
	color: $orange;
}

h1, h2, h3, h4, h5 {
	font-family: $sans-serif;
	font-weight: 200;
}

p {
	font-family: $serif;
	color: $gray_85;
}

h1, 
h2 {
	text-align: center;
	color: $og_green;
	// font-family: "HelveticaNeue-Thin", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h3, h4 {
	text-align: center;
	color: $gray_70;
}

h5 {
	color: $orange;
	font-family: $serif;
	font-weight: 700;
}

p {
	font-size: 1.2rem;
}

.m-video-caption {
	font-family: $sans-serif;
}
.m-lower-third-name {
	font-family: $serif;
}
.m-lower-third-job {
	font-family: $sans-serif;
}

.drop-cap:first-letter {
	line-height: 100%;
	float: left;
	margin: 0 16px 0 0;
	font-weight: 200;
	background-color: $orange;
	color: $white;
	font-family: $sans-serif;
	padding: 0 10px;
}

// Layout
.l-module {
	padding: 10px 0 50px;
	// background-color: $white;
	// background-color: $gray_3;
}

.row {
	position: relative;
	padding: 0 20px;
	left: 0;
	@include slide;
	max-width: 960px;
}

// Menu Module

.m-fixed-menu {
	cursor: pointer;
	position: fixed;
	top: 15px;
	left: 15px;
	z-index: 1;
	font-size: 21px;
	color: $gray_40;
	@include slide;

	.m-menu-trigger, a {
		display: block;
		margin-bottom: 20px;
	}

	.m-menu-trigger {
		margin-bottom: 40px;
	}

	a {
		color: $gray_20;
	}

	a:hover {
		background-color: transparent;
		color: $og_green;
	}
}

.m-menu-trigger:hover {
	color: $og_green;
}

.m-menu {
	position: fixed;
	top: 0;
	left: 0;
	background-color: $gray_10_solid;
	border-right: 1px solid $og_green;
	-webkit-box-shadow: inset -3px -8px 8px rgba(0,0,0,0.2);
	-moz-box-shadow: inset -3px -8px 8px rgba(0,0,0,0.2);
	box-shadow: inset -3px -8px 8px rgba(0,0,0,0.2);
	width: 280px;
	max-width: 0;
	overflow: hidden;
	z-index: $z-modal;
	@include slide;
	height: 100%;
	font-size: .8rem;
	
	h2 {
		color: $gray_70;
		font-size: 1.8rem;
		text-align: left;
		margin-left: 42px;
		letter-spacing: 1px;
	}

	nav {
		padding: 20px;
		width: 280px;
		
		a {
			color: $gray_85;
			margin: 0 20px;
			padding: 12px 7px;
			display: block;
			border-top: 1px solid $white;
			border-bottom: 1px solid $gray_20;
		}

		a:first-child {
			border-top: 0 !important;
		}

		a:last-child {
			border-bottom: 0;
		}

		a:hover {
			border-top: 1px solid $orange;
			color: $white;
			background-color: $orange;
		}
	}
}

// Overlay Modal
#overlay {
	background-color: transparent;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: $z-overlay;
	display: none;
	cursor: pointer;
}

// Disclaimer Box

.m-disclaimer-box {

	background-color: $gray_10;
	padding: 15px 25px;
	border: 1px solid $gray_70;
	@include inner-shadow-disclaimer;

	h3 {
		font-weight: bold;
		text-transform: uppercase;
		text-align: left;
		font-family: $serif;
		color: $og_green;
	}

	p {
		font-size: .8rem;
		margin-bottom: 7px;
	}
}

// Footer Module
footer {
	background-color: $gray_85;
	color: $white;
	padding: 20px 0;
	color: $white_60;

	p {
		font-size: 12px;
		margin-bottom: 6px;
		// text-align: center;
		letter-spacing: 1px;
		color: $white_60;
	}

	a {
		color: $white;
	}
}

// States for the Menu
.m-menu.s-active {
	max-width: 300px;
	@include slide;
}

.row.s-active {
	left: 340px;
	@include slide;
}

.m-fixed-menu.s-active {
	left: 315px;
	color: $og_green;
	@include slide;
}