#c-datasets {
	h2 {
		margin-bottom: 40px;
	}


	ul {
		padding: 0;
		margin: 0;

		li {
			list-style: none;
			margin: 0 45px 0 10px;
			border-bottom: 1px solid $gray_10;
			border-top: 1px solid transparent;
			color: $gray_70;
			cursor: pointer;
			padding: 3px 5px;

			i {
				float: right;
				color: $gray_20;
			}
		}

		li:hover {
			border-bottom: 1px solid $gray_30;
			border-top: 1px solid $gray_30;
			color: $og_green;
			background-color: $gray_3;

			i {
				color: $og_green;
			}
		}
	}
}