#c-demand-graph {
	h3 {
		margin-bottom: 30px;
	}

	.demand-graph-row-neg-1 {
		background-color: $orange;
	}

	.demand-graph-row-neg-2 {
		background-color: $gray_10;
	}

	.demand-graph-row-pos-1 {
		background-color: $og_green;
	}
}

#c-perception-graph {
	h3 {
		margin-bottom: 30px;
	}

	.graph-row-neg-1 {
		background-color: $orange;
	}

	.graph-row-neg-2 {
		background-color: $orange_10;
	}

	.graph-row-pos-1 {
		background-color: $og_green;
	}

	.graph-row-pos-2 {
		background-color: $og_green_15;
	}
}

.graph-row,
.demand-graph-row {
	margin: 0;
	position: relative;
	// background-color: #eee;
	padding-bottom: 6px;
	cursor: pointer;
	overflow: hidden;
	@include slide;

	> div {
		width: 50%;
		overflow: hidden;
		height: 7px;
		display: inline-block;
		float: left;
		@include slide;
	}

	.graph-value-bar,
	.demand-graph-value-bar {
		position: relative;
		min-width: 25px;
	}

	.graph-value-bar::after,
	.demand-graph-value-bar::after {
		content:"%";
		font-size: 10px;
	}

	.graph-row-neg,
	.demand-graph-row-neg {

		> div {
			float: right;
			padding: 8px 8px 8px 0;
			text-align: right;
			font-size: 14px;

			> span {
				position: absolute;
				top: -20px;
				right: 0;
				width: 200px;
				display: inline-block;
				padding: 0 5px;
				color: $gray_40;
			}
		}

		.graph-row-neg-1,
		.demand-graph-row-neg-1 {
			margin-right: 2px;
			color: $white;
		}

		.graph-row-neg-1::after,
		.demand-graph-row-neg-1::after {
			color: $white;
		}
		
		.graph-row-neg-2::after,
		.demand-graph-row-neg-2::after {
			color: $gray_80;
		}

	}
	
	.graph-row-pos,
	.demand-graph-row-pos {

		> div {
			float: left;
			padding: 8px;
			font-size: 14px;

			span {
				position: absolute;
				top: -20px;
				left: 0;
				width: 200px;
				display: inline-block;
				text-align: left;
				padding: 0 5px;
				color: $gray_40;
			}		
		}

		> div:first-of-type {
			margin-left: 2px;
		}


		.graph-row-pos-1 {
			color: $white;
		}

		.graph-row-pos-2 {
			color: $gray_80;
		}
	}

	.graph-row-country,
	.demand-graph-row-country {
		position: absolute;
		padding: 5px;
		right: 60px;
		top: 0;
		// opacity: 0;
		font-size: 14px;
		font-size: 10px;
		margin-top: -4px;
		color: $gray_80;
	}
}

.graph-row:hover,
.demand-graph-row:hover {
	
	> div {
		padding-bottom: 30px;
		height: 25px;
		overflow: visible;
		@include slide;	
	}
	

	.graph-row-country,
	.demand-graph-row-country {
		opacity: 1;
		font-size: 16px;
		margin-top: 0;
	}
}

#graph-compare-1:empty ~ .show-legend,
#graph-compare-2:empty ~ .show-legend {
	padding-top: 20px;
	padding-bottom: 0;
	margin-bottom: 5px;
	
	.graph-row-country,
	.demand-graph-row-country {
		padding-top: 22px;
	}

	.graph-row-pos-1, 
	.graph-row-pos-2, 
	.graph-row-neg-1, 
	.graph-row-neg-2,
	.demand-graph-row-pos-1, 
	.demand-graph-row-pos-2, 
	.demand-graph-row-neg-1, 
	.demand-graph-row-neg-2 {
		position: relative;
	}

	> div {
		overflow: visible;

		span {
			top: -20px;
		}
	}
}

// Compare Area

.graph-compare,
.demand-graph-compare {
	margin-bottom: 25px;

	.graph-row,
	.demand-graph-row {
		// background-color: #eee;
		padding-bottom: 10px;
		
		> div {
			height: 25px;
			overflow: visible;

			span {
				top: -20px;
			}
		}
	}

	.graph-row:hover,
	.demand-graph-row:hover {
		> div {
			padding-bottom: 10px;
		}
	}

	.graph-row-country,
	.demand-graph-row-country {
		opacity: 1;
		font-size: 16px;
		margin-top: 0;
	}

	.graph-row:first-of-type,
	.demand-graph-row:first-of-type {
		padding-top: 20px;
		padding-bottom: 0;
		margin-bottom: 5px;
	
		.graph-row-country,
		.demand-graph-row-country {
			margin-top: 12px;
		}

		.graph-row-pos-1, 
		.graph-row-pos-2, 
		.graph-row-neg-1, 
		.graph-row-neg-2,
		.demand-graph-row-pos-1, 
		.demand-graph-row-pos-2, 
		.demand-graph-row-neg-1, 
		.demand-graph-row-neg-2 {
			position: relative;
		}

		> div {
			overflow: visible;

			span {
				top: -20px;
			}
		}
	}
}


.graph-compare:last-of-type,
.demand-graph-compare:last-of-type {
	margin-bottom: 25px;
}

/////////////////////////////////////////////////////////////////////////////////
// Full Graphs for Survey ///////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////

.compare-countries {
	border: 1px solid #eee;
	padding: 20px;
}

.compare-countries.left {

}

.compare-countries.right {

}