.m-infographic {
	width: 100%;
	
	h3 {
		font-weight: bold;
	}

	h4 {
		font-family: $serif;
		font-size: 1rem;
		margin-bottom: 30px;
	}
}

#infographic-two-way-communication {
	text-align: center;

	img {
		max-width: 600px;
		margin: 90px 0 40px;
	}
}

.m-infographic-caption {
	text-align: center;
	font-size: .8rem;
	font-style: italic;
	width: 70%;
	margin: 0 auto 20px;
	color: $gray_40;
}

#open-closed-gov {
	border-bottom: 1px solid $gray_20;
	margin: 0 auto;

	.imageReveal-drag {
		background-color: $og_green;
		@include drop-shadow;
	}	
}

