
.m-ticker {
	position: relative;
	margin-top: 60px;
		
	#map-container {
		max-height: 400px;
		overflow: hidden;
	}

	.timer {
		font-size: 6rem;
		position: absolute;
		left: 31%;
		top: 22%;
		text-align: left;
	}
}

