// @media #{$small-up} { }
// @media #{$small-only} { }

// 
// @media #{$medium-only} { }

// @media #{$large-up} { }
// @media #{$large-only} { }

// @media #{$xlarge-up} { }
// @media #{$xlarge-only} { }

// @media #{$xxlarge-up} { }
// @media #{$xxlarge-only} { }

@media #{$large-only} { 
	h1 { font-size: rem-calc(120); }
	h2 { 
		font-size: rem-calc(72); 
		line-height: rem-calc(105);
	}
	
	.drop-cap:first-letter {
		font-size: rem-calc(120);
		line-height: 100%;
		float: left;
		margin: 0 16px 0 0;
		font-weight: 600;
		color: $orange;
	}

	.drop-cap:first-line {
		font-size: 2rem;
		font-weight: 200;
	}

	

	.m-video-answer {
	
		.m-video-container {
			position: relative;	
		}

		.controls {
			position: absolute;
			display: inline-block;
			bottom: 0;
			left: 0;
			
			.play-pause {
				opacity: 1;
				@include slide;
				position: absolute;
				bottom: -14px;
				left: -31px;
				display: block;
				width: 2rem;
				height: 2rem;
				font-size: 1rem;
				color: $gray_20;
				border: 1px solid $gray_20;
				cursor: pointer;
				@include circle;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
				background-color: $white;

				i {
					position: relative;
					left: 6px;
					top: 7px;
				}
			}

			.play-pause.s-active {
				opacity: 0;
				@include slide;

				i {
					left: 4px;
				}
			}

			.play-pause:hover {
				color: $gray_20;
				background-color: $gray_10;
			}
		}
	}

}

@media #{$medium-up} { 
	h1 { font-size: rem-calc(80); }
	
	

	.drop-cap:first-letter {
		font-size: 7rem;
		line-height: 100%;
		float: left;
		margin: 10px 16px 0 0;
		font-weight: 600;
		color: $orange;
	}

	.drop-cap:first-line {
		font-size: 2rem;
		font-weight: 200;
	}
}

@media #{$medium-only} { 

	.m-menu-trigger { 
		position: absolute;
	}

	.m-video-answer:hover {
			
		.play-pause.s-active {
			opacity: 1;
			@include slide;

			i {
				left: 5px;
			}
		}
	}
}

@media #{$small-only} { 
	h1 { font-size: rem-calc(36); }
	h2 { font-size: rem-calc(24); }
	h3 { font-size: rem-calc(18); }
	
	.m-menu-trigger { 
		position: absolute;
	}

	.drop-cap:first-letter {
		font-size: rem-calc(72);
		line-height: 100%;
		float: left;
		margin: 0 16px 0 0;
		font-weight: 600;
		color: $orange;
	}

	#c-landing {
		h1 { font-size: 2.3rem; }
		h2 { font-size: 1.8rem; }
	}
}