// @media #{$small-up} { }
// @media #{$small-only} { }

// @media #{$medium-up} { }
// @media #{$medium-only} { }

// @media #{$large-up} { }
// @media #{$large-only} { }

// @media #{$xlarge-up} { }
// @media #{$xlarge-only} { }

// @media #{$xxlarge-up} { }
// @media #{$xxlarge-only} { }

@media #{$large-up} { 
	h1 { font-size: rem-calc(120); }
	h2 { 
		font-size: rem-calc(72); 
		line-height: rem-calc(105);
	}
	
	.drop-cap:first-letter {
		font-size: rem-calc(120);
	}
	
	// Menu Module

	.m-fixed-menu {
		cursor: pointer;
		position: fixed;
		top: 15px;
		left: 15px;
		z-index: 1;
		font-size: 21px;
		color: $gray_40;
		@include slide;

		.m-menu-trigger, a {
			display: block;
			margin-bottom: 20px;
		}

		.m-menu-trigger {
			margin-bottom: 40px;
		}

		a {
			color: $gray_20;
		}

		a:hover {
			background-color: transparent;
			color: $og_green;
		}
	}

	.m-menu-trigger:hover {
		color: $og_green;
	}

	
}

@media #{$medium-up} { 
	h1 { font-size: rem-calc(80); }
	
	#c-landing h2 {
		margin-top: -50px;
	}

	.drop-cap:first-letter {
		font-size: 7rem;
	}

	.m-video-answer {
	
		.m-video-container {
			position: relative;	
		}

		.controls {
			position: absolute;
			display: inline-block;
			bottom: 0;
			left: 0;
			
			.play-pause {
				opacity: 1;
				@include slide;
				position: absolute;
				bottom: -14px;
				left: -31px;
				display: block;
				width: 2rem;
				height: 2rem;
				font-size: 1rem;
				color: $gray_20;
				border: 1px solid $gray_20;
				cursor: pointer;
				@include circle;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
				background-color: $white;

				i {
					position: relative;
					left: 6px;
					top: 7px;
				}
			}

			.play-pause.s-active {
				@include slide;

				i {
					left: 4px;
				}
			}
		}
	}
}

@media #{$small-only} { 
	h1 { font-size: rem-calc(36); }
	h2 { font-size: rem-calc(24); }
	h3 { font-size: rem-calc(18); }


	.drop-cap:first-letter {
		font-size: rem-calc(72);
	}

	#c-landing {
		h1 { font-size: 2.3rem; }
		h2 { 
			font-size: 1.8rem; 
			margin-top: -30px;
		}
		h3 { font-size: rem-calc(18); }
	}

	.m-video-answer .controls {
		position: absolute;
		left: 160px / 400px * 100%;
		top: 63px / 207px * 100%;


		.play-pause i {
			position: relative;
			left: 10px;
			top: 14px;
		}
	}

	#beta-flag {
		top: 8px;
		left: 55px;
	}

	.m-video-answer .controls .play-pause.s-active i { left: 6px; }
	
	// Menu Trigger Medium and Small Screens

	.m-fixed-menu {
		position: relative;
		z-index: 1;
		font-size: 21px;
		padding: 10px 20px;
		color: $gray_40;
		@include slide;

		.m-menu-social-media {
			position: absolute;
			right: 20px;
			top: 10px;
		}

		.m-menu-trigger, a {
			display: inline-block;
		}

		a {
			color: $gray_20;
			float: right;
		}
	}

	.m-menu-trigger:hover  {
		color: $og_green;
	}

	.m-menu-social-media a:hover i {
		color: $og_green;
	}

}

@media #{$medium-only} { 
// Menu Trigger Medium and Small Screens

	.m-fixed-menu {
		position: relative;
		cursor: pointer;
		z-index: 1;
		font-size: 21px;
		padding: 10px 20px;
		color: $gray_40;
		@include slide;

		.m-menu-trigger, a {
			display: inline-block;
		}

		.m-menu-social-media {
			position: absolute;
			right: 20px;
			top: 10px;
		}
		
		a {
			color: $gray_20;
		}
	}

	#beta-flag {
		top: 8px;
		left: 55px;
	}

	.m-menu-trigger:hover {
		color: $og_green;
	}

	.m-menu-social-media a:hover i {
		color: $og_green;
	}

	video {
		height: 352px;
		width: 620px;
	}
}