#c-landing {
	text-align: center;
	border-top: 0;

	section {
		background: url(../images/map-bg.png) no-repeat center 80px;
		background-size: 100%;
	}

	h1 {
		font-size: 4rem;
		margin-top: 1rem;
		margin-bottom: 30px;
		line-height: 3rem;
	}

	h2 {
		margin-top: -50px;
		font-size: 2.5rem;
		font-family: $serif;
		color: $orange;
	}

	img {
		width: 50%;
	}
}

#c-landing.m-section-header {
	background-position: center -160px;
}

#c-open-closed-gov {
	margin-top: 46px;
}

#c-why-should-i-care {
	padding-bottom: 0;
}

#c-what-is-opengov {

	.infographic-wrapper {
		background-color: $orange;

		p {
		color: $white;
		}

		.drop-cap:first-letter {
			background-color: $white_60;
			color: $orange;
		}
	}
	
	
}

// .m-section-header {
// 	border-top: 1px solid $og_green_70;
// 	background: url(../images/splash-1.png) no-repeat center -100px;
// 	@include inner-shadow-section-header;
// }

.m-og-question {
	h3 {
		margin-bottom: 30px;
	}

	p {
		font-size: 3rem;
		text-align: center;
		color: $og_green;
		border: 1px solid $og_green;
		background-color: $og_green_5;
		cursor: pointer;
	}

	p:hover {
		background-color: $og_green_15;
		color: $orange;
	}
}

#c-what-can-i-do-itens {
	li {
		list-style: none;
		position: relative;

	}

	li:before {
		content: "";
		width: 0;
		height: 0;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		border-left: 8px solid $orange;
		position: absolute;
		left: -17px;
		top: 4px;
	}
}