.m-graph-container {
	max-width: 960px;
	min-height: 200px;
	max-height: 250px;
	overflow: hidden;
}

#c-landing {
	text-align: center;

	h1 {
		font-size: 4rem;
		margin-top: 1rem;
		margin-bottom: 0;
		line-height: 3rem;
	}

	h2 {
		margin: 0;
		font-size: 3rem;
	}
}

#c-open-closed-gov {
	margin-top: 46px;
}

.m-section-header {
	border-top: 1px solid $og_green_70;
	background: url(../images/splash-1.png) no-repeat center -100px;
	@include inner-shadow-section-header;
}