#c-landing {
	text-align: center;
	border-top: 0;

	section {
		background: url(../images/map-bg.png) no-repeat center 50px;
		background-size: 100%;
	}

	h1 {
		font-size: 4rem;
		margin-top: 1rem;
		margin-bottom: 30px;
		line-height: 3rem;
	}

	h2 {
		margin-top: -50px;
		font-size: 2.5rem;
		font-family: $serif;
		color: $orange;
	}

	img {
		width: 33%;
		margin-bottom: 50px;
	}
}

#c-landing.m-section-header {
	background-position: center -160px;
}

#c-open-closed-gov {
	margin-top: 46px;
}

#c-why-should-i-care {
	padding-bottom: 0;
}

#c-what-is-opengov {

	.infographic-wrapper {
		background-color: $orange;

		p {
		color: $white;
		}

		.drop-cap:first-letter {
			background-color: $white_60;
			color: $orange;
		}
	}	
}

#og-question-form {
	

	.button {
		padding-top: 0.5rem; 
		padding-bottom: 0.6rem;
		background-color: $og_green;
	}
	.button:hover {
		background-color: $orange;
	}
}

// .m-section-header {
// 	border-top: 1px solid $og_green_70;
// 	background: url(../images/splash-1.png) no-repeat center -100px;
// 	@include inner-shadow-section-header;
// }

.m-og-question {
	h3 {
		margin-bottom: 30px;
	}

	p {
		font-size: 3rem;
		text-align: center;
		color: $og_green;
		border: 1px solid $og_green;
		background-color: $og_green_5;
		cursor: pointer;
	}

	p:hover {
		background-color: $og_green_15;
		color: $orange;
	}
}

#c-what-can-i-do-itens {
	.og-resource-wrap {
		margin: 12px auto;
		max-height: 220px;
		max-width: 220px;
		position: relative;
		border: 1px solid $gray_10;
		overflow: hidden;
		display: block;
	}

	.og-resource-text {
		position: absolute;
		top: 220px;
		height: 220px;
		width: 220px;
		padding: 10px;
		background-color: $orange;
		font-size: 1.3rem;
		font-family: $sans-serif;
		line-height: 1.7rem;
		color: $white;
		vertical-align: bottom;
		@include slide;
	}

	.og-resource-image {
		height: 220px;
		width: 220px;
	}

	.og-resource-wrap:hover .og-resource-text {
		top: 0;
		@include slide;
	}

	.ogp-irm {
		font-size: 1.3rem;
		line-height: 1.7rem;
	}

	li {
		list-style: none;
		position: relative;

	}

	li:before {
		content: "";
		width: 0;
		height: 0;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		border-left: 8px solid $orange;
		position: absolute;
		left: -17px;
		top: 4px;
	}
}

#c-contact {
	text-align: center;
	padding-top: 30px;
	margin-bottom: 50px;

	a {
		display: inline-block;
		background-color: $og_green_40;
		@include circle;
		width: 160px;
		height: 160px;
		padding: 30px;
		margin: 20px;


		i {
			font-size: 5rem;
			color: $white;
			position: relative;
			top: 10px;
			left: -5px;
		}

	}

	a:hover {
		background-color: $orange;

		i {
			color: $white;
		}	
	}

}




















