.m-switcher {

	.m-switcher-handle {
		width: 40px;
		height: 40px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		background-color: $gray_40;
		color: $white;
		position: absolute;
		top: 50%;
		right: 0;
		cursor: pointer;
		z-index: 1;
	}

	.m-switcher-handle:hover {
		background-color: $og_green;
	}

	.m-switcher-handle:after {
		content: "";
		width: 0;
		height: 0;
		position: absolute;
		left: 16px;
		top: 7px;
		border-top: 12px solid transparent;
		border-bottom: 12px solid transparent;
		border-left: 12px solid $white;
	}

	.m-switcher-container {
		width: 200%;
		position: relative;
		left: 0;
		
		text-align: center;
		@include slide;

		img {
			max-height: 500px;

		}
	}
	
	.m-switcher-content {
		width: 50%;
		float: left;
		min-height: 450px;
		box-shadow: inset 0 -10px 10px -10px rgba(0,0,0,0.3);

	}

	.m-switcher-content.left {
		// background-color: red;
	}

	.m-switcher-content.right {
		// background-color: green;
	}
}

.m-switcher.active {
	
	.m-switcher-handle {
		right: none;
		left: 0;
	}

	.m-switcher-handle:after {
		border-left: 0;
		border-right: 12px solid $white;
		left: none;
		left: 11px;
	}

	.m-switcher-container {
		left: -100%;
		@include slide;
	}
}



