// Video Module

video {
	width: 100%;
}

.m-video-answer {
	text-align: center;
	margin-top: 40px;
	padding: 0;

	video {
		max-width: 420px;
		border-bottom: 1px solid $gray_10;
	}
	
	.m-video-caption {
		max-width: 420px;
	}

}

.m-video-answer.big {
	margin: 10px auto 40px;
	video {
		max-width: 960px;
	}

	.m-video-caption {
		max-width: 960px;
	}
}


.m-video-answer.full-interview {
	position: relative;
	
	.controls {
		width: 100%;
		position: absolute;
		top: 60px;
		left: 0;
		vertical-align: middle;
		opacity: 0;
		@include slide;

		span {
			@include circle;
			width: 80px;
			height: 80px;
			background-color: $gray_40;
			display: inline-block;
			cursor: pointer;
		}
		
		span:hover {
			background-color: $og_green;

		}


		.play-pause:after {
			width: 0;
			height: 0;
			content:"";
			position: absolute;
			border-top: 20px solid transparent;
			border-bottom: 20px solid transparent;
			border-left: 24px solid $white;
			top: 20px;
			left: 109px;
		}
	}
}

.m-video-answer.full-interview:hover {
	position: relative;
	
	.controls {
		opacity: 1;
		@include slide;
	}		
}

.m-video-caption {
	text-align: center;
	font-size: .8rem;
	font-style: italic;
	width: 70%;
	margin: 0 auto 20px;
	color: $gray_40;
}