// Video Module

video {
	width: 100%;
}

.m-video-answer {
	text-align: center;
	margin-top: 40px;
	padding: 0;

	video {
		max-width: 420px;
		border-bottom: 1px solid $gray_10;
	}
	
	.m-video-caption {
		max-width: 420px;
	}

}

.m-video-answer.big {
	margin: 10px auto 40px;
	video {
		max-width: 960px;
	}

	.m-video-caption {
		max-width: 960px;
	}
}

.m-video-answer {
	.controls {
		position: absolute;
		left: 5%;
		bottom: 22%;
		
		span {
			display: block;
			font-size: 18px;
			margin: 0 0 10px;
			color: $gray_20;
			cursor: pointer;
		}

		span:hover {
			color: $og_green;
		}
	}
}

.m-video-answer:hover {
	.controls {
		span {
			color: $gray_40;
		}	
	}
}
.m-video-caption {
	text-align: center;
	font-size: .8rem;
	font-style: italic;
	width: 70%;
	margin: 0 auto 20px;
	color: $gray_40;
}

#c-full-interviews.s-disabled {
	opacity: .6;
	pointer-events: none;
}