// Video Module

video {
	width: 100%;
}

.m-video-answer {
	margin: 40px auto;
	padding: 0;
	max-width: 620px;

	video {
		max-width: 620px;
		border-bottom: 1px solid $gray_10;
		border-top: 1px solid $gray_10;
	}

}

.animation-wrapper {
	background-color: #075066;
	padding: 20px 0;

	.controls .play-pause {
		background-color: transparent !important;
		left: -40px !important;
		bottom: 0 !important;
	}

	video {
		background-color: #075066;
	}
}

.m-video-answer {
	
	.m-video-container {
		position: relative;	
	}

	.controls {
		// position: absolute;
		// top: 42%;
		// left: 45%;
		
		.play-pause {
			display: block;
			width: 5rem;
			height: 5rem;
			font-size: 3rem;
			color: $gray_20;
			border: 1px solid $gray_20;	
			cursor: pointer;
			@include circle;
			background-color: $white_60;

			i {
				position:relative;
				left: 10px;
				top: 14px;
			}
		}

		.play-pause:hover {
			color: $orange;
			border-color: $orange;
		}
	}
}

.m-video-caption {
	text-align: center;
	max-width: 640px;
	margin: 0 auto;
	font-style: italic;
	color: $gray_40;
	font-size: .8rem;
	line-height: 1rem;
}

.m-lower-third {
	position: absolute;
	bottom: 10px;
	text-align: right;
	right: 0;
	width: 25%;

	.m-lower-third-name {
		font-size: .8rem;
		margin: 0;
		font-weight: bold;
		color: $orange;
	}

	.m-lower-third-job {
		font-size: .7rem;
		line-height: .8rem;
		margin: 0 1px 0 0;
		font-style: italic;
		color: $gray_40;
		font-weight: 600;
	}
}

#c-full-interviews {
	position: relative;
	
	.full-interview .controls {
		float: left;

		span {

			i {
				color: $gray_20;
			}
		}

		span:hover {
			cursor: pointer;

			i {
				color: $orange;		
			}
		}
	}

	.m-lower-third {
		position: static;
		width: 80%;
		float:right;
	}
}

#c-full-interviews.s-disabled {
	opacity: .6;
	pointer-events: none;
}